.red {
    color: red !important;
}

.ng-enter {
    animation:0.5s fadeIn ease; 
}

#title{
    margin-bottom: 35px;
}

#nameInput{
    margin-bottom: 10px;
}

.listPlayerName{
    font-weight: bold;
}

#activeGamePanel{
    padding-top: 30px;
}

.qbBtn {
    width: 50px;
    margin-right: 20px;
}

#acceptButton {
    margin-right: 20px;
}

#newGameContainer {
    margin-bottom: 30px;
}

.qbHistory{
    margin-bottom: 10px;
}