.red {
    color: red !important;
}

.ng-enter {
    animation:0.5s fadeIn ease; 
}

#title{
    margin-bottom: 35px;
}

#nameInput{
    margin-bottom: 10px;
}

.listPlayerName{
    font-weight: bold;
}

.qbBtn {
    margin-right: 20px;
}

#acceptButton {
    margin-right: 20px;
}

#newGameContainer {
    margin-bottom: 30px;
}

.qbHistory, .dateHistory{
    margin-bottom: 15px;
}

.lightBlue{
    color:#5bc0de;
    font-weight: bold;
}

.players{
    text-transform: capitalize;
}

#historyHeader{
    font-size: larger;
}

#historyContainer{
    margin-top: 50px;
}

.darkBlue{
    color: #000066;
}

.mvp {
    color: red;
}

.lvp {
    color: brown;
}